<h1> All Rooms </h1>
<h2><%= @username %></h2>
<table>
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Room Description</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  <%= for room <- @rooms do %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.description%></td>
      <td><a href="<%= Routes.room_path(@conn, :show, @username, room) %>">リンクはここだよ</a></td>
    </tr>
  <% end %>
  </tbody>
</table>


